### add by vlab.py script ###
Host spine1
  hostname 10.1.101.101
  user admin
Host spine2
  hostname 10.1.101.102
  user admin
Host leaf1
  hostname 10.1.101.103
  user admin
Host leaf2
  hostname 10.1.101.104
  user admin
Host leaf3
  hostname 10.1.101.105
  user admin
Host leaf4
  hostname 10.1.101.105
  user admin
