group {
    option tftp-server-name "{{ ztp_server }}";
        subnet {{ subnet }} netmask {{ netmask }} {
        range {{ range_min }} {{ range_max }};
        option routers {{ gateway }};
    }
    {% for h in host %} 
    host {{h}} {
        hardware ethernet {{ host[h].mac }};
        fixed-address {{ host[h].ip }};
    }
    {% endfor %}
}