system {
    host-name {{ hostname }};
    root-authentication {
		encrypted-password "{{ junos_passwd }}"; ## SECRET-DATA
    }
    login {
        user {{ junos_user }} {
            class super-user;
            authentication {
				encrypted-password "{{junos_passwd}}"; ## SECRET-DATA
                {% if ssh_key -%}
                ssh-rsa "{{ssh_key}}";
                {% endif -%}
            }
        }
    }
    services {
        ssh {
            root-login allow;
            sftp-server;
        }
        netconf {
            ssh;
        }
    }
    arp {
        aging-timer 5;
    }
    management-instance;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
{% if type == 'vjunosrouter' or type == 'vjunosswitch' -%}
chassis {
    evpn-vxlan-default-switch-support;
    network-services enhanced-ip;
}

{% endif -%}

{% if type == 'vjunosevolved' -%}
forwarding-options {
    tunnel-termination;
}
{% endif -%}


interfaces {
    {% if type == 'vjunosevolved' -%}
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address {{ ip_address }};
            }
        }
    }
    {% else -%}
    fxp0 {
        unit 0 {
            family inet {
                address {{ ip_address }};
            }
        }
    }
    {% endif -%}
    {% if interfaces -%}
    {% for intf in interfaces -%}
    {{ intf }} {
        {% if intf != "lo0" -%}
        mtu 9000;
        {% endif -%}
        {% if interfaces[intf].inet or interfaces[intf].inet6 or interfaces[intf].mpls or interfaces[intf].iso -%}
        unit 0 {
            family {
            {% if interfaces[intf].inet -%}
                inet {
                    address {{interfaces[intf].inet}};
                }
            {% endif -%}
            {% if interfaces[intf].inet6 -%}
                {% if interfaces[intf].inet6 == 1-%}
                inet6;
                {% else -%}
                inet6 {
                    address {{interfaces[intf].inet6}};
                }
                {% endif -%}
            {% endif -%}
            {% if interfaces[intf].iso -%}
                {% if intf == "lo0" -%}
                iso {
                    address {{interfaces[intf].iso}};
                }
                {% else -%}
                iso;
                {% endif -%}
            {% endif -%}
            {% if interfaces[intf].mpls -%}
                mpls;
            {% endif -%}
        }
        }
        {% endif -%}
    }
    {% endfor -%}
    {% endif -%}
}
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{ gateway }};
            }
        }
    }
}
protocols {
    lldp {
        interface all;
        {% if type == 'vjunosevolved' -%}
        interface re0:mgmt-0 {
            disable;
        }
        {% else -%}
        interface fxp0 {
            disable;
        }
        {% endif -%}
    }
    isis {
        level 1 disable;
        level 2 wide-metrics-only;
        {% for intf in interfaces -%}
        {% if intf == "lo0" and interfaces[intf].iso -%}
        interface lo0.0 {
            passive;
        }
        {% else %}
        {% if interfaces[intf].isis  -%}
        interface {{ intf }} {
            point-to-point;
        }
        {% endif -%}
        {% endif -%}
        {% endfor -%}
        
    }
    mpls {
        {% for intf in interfaces -%}
        {% if intf != "lo0" and interfaces[intf].mpls -%}
        interface {{ intf }}.0;
        {% endif -%}
        {% endfor -%}
    }
    rsvp {
        {% for intf in interfaces -%}
        {% if intf != "lo0" and interfaces[intf].rsvp -%}
        interface {{ intf }}.0;
        {% endif -%}
        {% endfor -%}   
    }
    ldp {
        {% for intf in interfaces -%}
        {% if intf != "lo0" and interfaces[intf].ldp -%}
        interface {{ intf }}.0;
        {% endif -%}
        {% endfor -%}   
    }
}



