system {
    host-name {{ hostname }};
    root-authentication {
		encrypted-password "{{ junos_passwd }}"; ## SECRET-DATA
    }
    login {
        user {{ junos_user }} {
            class super-user;
            authentication {
				encrypted-password "{{junos_passwd}}"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
            sftp-server;
        }
        netconf {
            ssh;
        }
    }
    arp {
        aging-timer 5;
    }
    management-instance;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
{% if type == 'vjunosrouter' or type == 'vjunosswitch' -%}
chassis {
    evpn-vxlan-default-switch-support;
    network-services enhanced-ip;
}

{% endif -%}

{% if type == 'vjunosevolved' -%}
forwarding-options {
    tunnel-termination;
}
{% endif -%}


interfaces {
{% if type == 'vjunosevolved' -%}
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address {{ ip_address }};
            }
        }
    }
{% else -%}
    fxp0 {
        unit 0 {
            family inet {
                address {{ ip_address }};
            }
        }
    }
{% endif -%}
}
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{ gateway }};
            }
        }
    }
}
protocols {
    lldp {
        interface all;
        {% if type == 'vjunosevolved' -%}
        interface re0:mgmt-0 {
            disable;
        }
        {% else -%}
        interface fxp0 {
            disable;
        }
        {% endif -%}
    }
}


