<?xml version="1.0"?>
<!-- vJunos switch baseline XML -->
<!-- Copyright (c) 2023, Juniper Networks, Inc. -->
<!--  All rights reserved. -->

<domain xmlns:ns0="http://libvirt.org/schemas/domain/qemu/1.0" type="kvm">
  <name>{{name}}</name>
  <memory unit="KiB">{{ram}}</memory>
  <currentMemory unit="KiB">{{ram}}</currentMemory>
  <vcpu placement="static">{{vcpu}}</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch="x86_64">hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu>
     <arch>x86_64</arch>
     <model>IvyBridge</model>
     <topology cores="{{vcpu}}" sockets="1" threads="1"/>
     <model fallback="allow">qemu64</model>
     <feature name="vmx" policy="require"/>
  </cpu>
  <clock offset="utc"/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk device="disk" type="file">
      <driver cache="writeback" name="qemu" type="qcow2"/>
      <source file="{{disk}}"/>
      <target dev="vda" bus="virtio"/>
    </disk>
    <controller index="0" model="pci-root" type="pci">
      <alias name="pci.0"/>
    </controller>
    <interface type='bridge'>
      <source bridge='{{mgmt.bridge}}'/>
      {%if mgmt.brtype == "ovs" -%}
      <vlan>
        <tag id='{{mgmt.vlan}}'/>
      </vlan>
      <virtualport type='openvswitch' />
      {% endif -%}
      <target dev='{{name}}fxp0'/>
      <model type='virtio'/>
    </interface>
    {% for intf in interfaces -%}
    <interface type="bridge">
        <source bridge="{{ interfaces[intf].bridge }}" />
        <model type="virtio"/>
        <target dev='{{name}}{{intf}}'/>
        <mtu size='9500'/>
    </interface>
    {% endfor -%}
    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>

    <memballoon model="virtio">
      <alias name="balloon0"/>
    </memballoon>
  </devices>
  <ns0:commandline>
    <ns0:arg value="-smbios"/>
    <ns0:arg value="type=1,product=VM-VMX,family=lab"/>
  </ns0:commandline>
</domain>